body {
    font-family: 'Poppins', sans-serif;
  }
  .navbar{
    border-bottom: rgb(71, 12, 209) 2px solid ;
    opacity: 0.8;
    background:  linear-gradient(to right, #ffae00f3 0%, #caac00 100%); 
    
}
nav .nav-item{
  color: black! important;
  font-size: 20px;
}
nav .nav-link{
  margin: 0 10px;
  
}
nav .nav-link:hover{
  background:  linear-gradient(to right, #00ff73 0%, #00ca00e3 100%); 
  color: #fff;
}

  .container{
    margin-bottom: 100px;
    
}
.banner{
    background-image: url(images/dooted-qube.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 7%;
}
.carousel-item{
    background-image: url("images/product-text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    padding-bottom: 55px;
    padding: 10px 20px;
}
.carousel-item p {
    padding: 20px 0;
  }
.buy-now-button{
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}

.carousel-indicators li {
    background-color: #CECECE;
    height: 10px;
    width: 16px;
    border-radius: 6px;
    border: none;
    
}

.carousel-indicators .active {
  background-image: linear-gradient(to right, #FF9C35, #FFD019);
  width: 40px;
}
.gap{
    margin-bottom: 50px;
}
.card{
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 20px lightgray;
}
/* extra pic hover */
.card-first:hover{
  border-radius: 10px;
    box-shadow: 2px 5px 20px lightgray;
    
}
.card-img-top{
  width: 100%;
}
.card-first img:hover{
  transform: scale(1.1);
  transition: transform 2s;
}
/* .card-img-top:hover img{
  transform: scale(1.3);
  transition: transform 2s;
} */

/* CATEGORIES */

.category {
    padding-top: 100px;
  }
  .color-bar {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #FF9C35, #FFD019);
  }
  
  .single-cat {
    cursor: pointer;
    text-align: center;
    border-radius: 20px 5px;
    -webkit-border-radius: 20px 5px;
    -moz-border-radius: 20px 5px;
    -ms-border-radius: 20px 5px;
    -o-border-radius: 20px 5px;
  }
  
 
  .single-cat a h4{
    color: #2c2c2c;
    margin-top: 10px;
    font-weight: 500;
  }
 footer{
     text-align: center;
 }
 /* about */

  .cont{
    
   font-size: 18px;
    color: #666666;
 }
 .distant{
   margin: 0 50px;
   
 }
 h5{
  color: #333;

  padding: 10px 0;
    margin-bottom: 5px;
 }
 
#footer{
  background-image: linear-gradient(to right, #ffae00f3 0%, #caac00 100%);
  color: #fff;
}
ul h5{
  color: tomato;
}
li a{
  color: black;
}
/* social Icon */

.social-menu ul{
  
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
}
.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}
.social-menu ul .fa{
 font-size: 30px;
 line-height: 60px;
 transition: .6s;
 color: #000;
}
.social-menu ul .fa:hover{
  color: #fff;
}
.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover{
  transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #0077B5;
}
.social{
  margin: 100px 190px;
}

/* contact */

.contactStyle:hover{
  
  transform: scale(1.2);
  transition: transform 2s;
  
}
